{% extends 'base.html' %}
{% load static %}
{% block body %}

 <div id="breadcrum">
      <div class="container">
          <div>
              <ul class="breadcrumb">
                  <li> <a href="{% url 'MainApp:home' %}">Home</a></li>
                   /
                  <li class="active">Profile</li>
              </ul>

          </div>

      </div>

  </div>



 <!-- <div class="section">
      <div class="container">

          {%if messages %}

          {% for message in messages %}
          <div class="alert alert-{{ message.tags }}" role="alert">
              {{message}}
          </div>
          {% endfor %}
          {% endif %}
-->
          <!--start from here-->
          <div class="page-section mb-60">
              <div class="container">
                  <div class="row">
                      <div class="col-sm-12 col-md-12 col-xs-12 col-lg-3 mb-30">
                          <h1 class="font-weight-bold">User Panel</h1>
                           {% include 'user-panel.html' %}
                      </div>

                      <div class="col-sm-12 col-md-12 col-lg-9 col-xs-12">
                          <h1 class="text-center font-weight-bold">Details</h1>
                          <table class="shopping-cart-table table">
                              <tr>
                                  <th class="text-left">
                                      <a href="{% url 'UserApp:user-update' %}" class="primary-btn">Update Profile</a>
                                      &nbsp; &nbsp; &nbsp;
                                      <a href="{% url 'UserApp:password-change' %}" class="primary-btn">Change Password</a>
                                  </th>
                                  <td><img src="{{ profile.imageurl}}"
                                          style="border-radius:10px; height: 100px;width:100px; ">
                                  </td>
                              </tr>
                              <tr>
                                  <th class="text-left">Name</th>
                                  <td class="text-left">{{ user.first_name}} {{ user.last_name}} </td>
                              </tr>
                              <tr>
                                  <th class="text-left">Username</th>
                                  <td class="text-left">{{ user.username}} </td>
                              </tr>
                              <tr>
                                  <th class="text-left">Email</th>
                                  <td class="text-left">{{ profile.user.email}}</td>
                              </tr>
                              <tr>
                                  <th class="text-left">Phone</th>
                                  <td class="text-left">{{ profile.phone}}</td>
                              </tr>
                              <tr>
                                  <th class="text-left">Addres</th>
                                  <td class="text-left">{{ profile.address}}</td>
                              </tr>
                              <tr>
                                  <th class="text-left">City</th>
                                  <td class="text-left">{{ profile.city}}</td>
                              </tr>
                          </table>
                      </div>
                  </div>

                  <!--end from here-->

              </div>
          </div>

{% endblock body %}